.carousel-caption {
    top: 0;
    bottom: auto;

    .fa {
        display: inline-block;
        position: absolute;
        top: 50%;
        z-index: 5;
    }
}
.carousel-indicators {
    li {
        border: 2px solid #ffffff;
    }
    li.active {
		background-color: #E7AD3B !important;
	}
}
#carousel-example-mini .carousel-control {
    display: inline-block;
    position: absolute;
    top: 50%;
    z-index: 5;
    height: 40px;
}