div#first-bar {
	margin-top: 4px;

	a {
		color: #4C4C4C;
	}
	.vertical-separator {
		border-right: 1px solid #CCCCCC;
	}
	div#login-form {
		> a {
			padding-top: 10px;
			padding-right: 10px;
			padding-bottom: 10px;
			padding-left: 10px;
			background-color: #FFFFFF;
		}
	}
	div#login-form.open {
		> a {
			color: #003D79;
			font-weight: bold;
			text-decoration: none;
			border-right: 1px solid #000000;
			border-left: 1px solid #000000;
		}
		.dropdown-menu {
			padding:17px;
			border: 1px solid #000000;
			border-radius: 0;
			width: 300px;
		}
	}
}