#footer {
    border-top: 5px solid #CDB380;
    background: #033649 none repeat scroll 0% 0%;
    padding-top: 30px;
    margin-top: 60px;
    clear: both;
    color: #AAA;
    display: block;
	
	.widgettitle {
		margin: 0px;
		padding: 0px 0px 15px;
		border-bottom: medium none;
	}
	
	h4 {
		color: #FFF;
	}
	ul {
		list-style: outside none none;
		
		li {
			padding: 7px 0px;
			border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
			margin: 0px;
			
			a {
				color: #DDD;
			}
		}
	}
}
#sub-floor {
    color: #AAA;
    background: #031634 none repeat scroll 0% 0%;
    padding: 10px 0px;
}