/* Hover effect on image */
.wrapper_square_intro_hover {
    background-color: #CCCCCC;

    .square_intro_hover {
        padding: 0px;
        position: relative;
        overflow: hidden;
        height: 200px;

        img {
            z-index: 4;
        }
        
        .caption {
            position: absolute;
            top:150px;
            -webkit-transition:all 0.3s ease-in-out;
            -moz-transition:all 0.3s ease-in-out;
            -o-transition:all 0.3s ease-in-out;
            -ms-transition:all 0.3s ease-in-out;
            transition:all 0.3s ease-in-out;
            width: 100%;

            .blur {
                background-color: rgba(0,0,0,0.7);
                height: 300px;
                z-index: 5;
                position: absolute;
                width: 100%;
            }

            .caption-text {
                z-index: 10;
                color: #fff;
                position: absolute;
                height: 300px;
                text-align: center;
                top:-40px;
                width: 100%;

                h4 {
                    color: #FFFFFF;
                    padding: 40px;
                }
            }
        }
    }
    .square_intro_hover:hover .caption{
        opacity: 1;
        transform: translateY(-150px);
        -webkit-transform:translateY(-150px);
        -moz-transform:translateY(-150px);
        -ms-transform:translateY(-150px);
        -o-transform:translateY(-150px);
    }
}