.navbar-brand {
	padding: 0px;
}
.navbar-brand > img {
	height: 100%;
	padding: 15px;
	width: auto;
}
@media (max-width: 768px) {

}
@media (min-width: 768px) {

}
@media (min-width: 992px) {
	/* Navbar */
	.yamm.navbar {
		min-height: 40px;
		margin-bottom: 0;

		.navbar-header {
			margin: 0;
			padding: 0;

			.navbar-brand {
				margin: 0;
				padding: 0;
				height: 40px;
			}
		}

		.navbar-collapse {
			margin: 0;
			padding: 0;
			height: 40px !important;

			.nav li a {
				padding-top: 9px;
				padding-bottom: 8px;
				font-family: Verdana, Geneva, sans-serif;
			}

			.nav li a:hover,
			.nav > li.dropdown.yamm-fw.open > a {
				color: #E7AD3B;
			}
		}

		.navbar-form {
			margin: 5px;
			padding: 0;

			input,
			button {
				margin: 0;
				height: 28px;
			}
			input {
				width: 170px;
				padding: 0;
				background-color: #FFFFFF;
			}
			input::-webkit-input-placeholder {
				padding-left: 10px;
			}
			button {
				width: 40px;
				padding: 5px;
				background-color: #E7AD3B;

				i {
					color: #003D79;
					font-weight: bold;
					font-size: 18px;
				}
			}
		}
		/* YAMM Items */
		.navbar-collapse {
			background-color: #003D79;

			ul.nav > li {
				line-height: 40px;
				height: 40px;
				padding: 0;
				margin: 0;
			}
			ul.nav > li > a:after {
				content: '';
				height: 26px;
				width: 1px;
				position: absolute;
				right: 0;
				top: 7px;
				background-color: #4C4C4C;
			}
			ul.nav > li:last-child > a:after {
				content: none;
			}
			ul.nav li {
				background-color: #003D79;

				a {
					color: #FFFFFF;
				}
			}
			ul.nav li.active a {
				background-color: #00264d;
			}
			ul.nav .open a {
				color: #FFFFFF;
				background-color: #003D79;
			}
			ul.nav ul.dropdown-menu > li {
				min-height: 200px;
			}
			/* YAMM Items */
			.yamm-content {
				img {
					margin-bottom: 20px;
				}
				h5 {
					color: #FFFFFF;
					font-size: 14px;
					font-weight: normal;
					line-height: 30px;
					border-bottom: 2px solid #FFFFFF;
				}
				ul {
					list-style: none;
					-webkit-padding-start: 0px;
				}
				ul > li {
					line-height: 26px;
				}
				.col-md-3:hover h5 {
					color: #E7AD3B;
					border-bottom: 2px solid #E7AD3B;
				}
			}
			/*  */
			ul.nav .dropdown-menu {
				background-color: rgba(0, 61, 121, 0.5);
			}
		}
	}
}