/* Parallax */
.content-space-one {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url('/media/images/carousel/lorempixel-nature5.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}
.page-break {
    width: 50%;
    height: 3px;
    background-color: #fff;
    margin: 0 auto;
}
.wrapper-text-semitransparent {
    display: block;
    clear: both;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.4);
}