<div class="row">
    <main class="col-md-8">
        <article class="col-md-8">
            
        </article>
    </main>
    <aside class="col-md-4" role="complementary">
        {{> banner-4 }}
        {{> article-4 }}
    </aside>
</div>