<article>
    <p class="text-center">
        <img src="media/images/banners/banner-4-400x150-nature-7.jpg" class="img-responsive" alt="Foo">
    </p>
    <small>Publicaciones</small>
    <h5>Ut enim ad minim veniam</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p><a href="#" title="Foo">Leer más...</a></p>
</article>