<div class="row banner-12">
    <div class="col-md-12">
        <p class="text-center">
            <img src="media/images/banners/banner-12-1200x150-nature-1.jpg" class="img-responsive" alt="Foo">
        </p>
    </div>
</div>