<div class="row">
    <div class="col-md-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="media/images/carousel/lorempixel-nature1.jpg" alt="Lorem ipsum">
                    <div class="carousel-caption">
                        <h3>Lorem ipsum dolor sit amet</h3>
                    </div>
                </div>
                <div class="item">
                    <img src="media/images/carousel/lorempixel-nature2.jpg" alt="Lorem ipsum">
                    <div class="carousel-caption">
                        <h3>Excepteur sint occaecat cupidatat non proident</h3>
                    </div>
                </div>
                <div class="item">
                    <img src="media/images/carousel/lorempixel-nature3.jpg" alt="Lorem ipsum">
                    <div class="carousel-caption">
                        <h3>Duis aute irure dolor in reprehenderit</h3>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <i class="fa fa-chevron-left fa-3x" aria-hidden="true"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <i class="fa fa-chevron-right fa-3x" aria-hidden="true"></i>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>