<div class="row" id="first-bar">
    <div class="col-md-2 vertical-separator">
        <a href="#sitemap" title="Mapa de sitio"><i class="fa fa-sitemap fa-2x" aria-hidden="true"></i> Mapa de sitio</a>
    </div>
    <div class="col-md-5 pull-right">
        <div class="row">
            <div class="col-md-6 vertical-separator">
                <div class="row">
                    <div class="col-md-6 dropdown" id="login-form">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="navLogin" title="Intranet">Intranet</a>
                        <div class="dropdown-menu" aria-labelledby="navLogin">
                            <h3>Inicio de sesión</h3>
                            <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                                <div class="form-group">
                                    <label class="sr-only" for="exampleInputEmail2">Usuario</label>
                                    <div class="input-group margin-bottom-sm">
                                        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                                        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Usuario" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="exampleInputPassword2">Contraseña</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                                        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Contraseña" required>
                                    </div>
                                    <div class="help-block text-right"><a href="#" title="Recuperar contraseña">Recuperar contraseña?</a></div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default btn-block">Iniciar sesión</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <a href="#" title="Correo web">Correo web</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-4">
                        <a href="#" title="Facebook"><i class="fa fa-facebook fa-2x"></i></a>
                    </div>
                    <div class="col-md-4">
                        <a href="#" title="Contacto"><i class="fa fa-envelope-o fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>