<footer id="footer" class="clearfix">
	<div id="footer-widgets">
		<div class="container">
			<div id="footer-wrapper">
				<div class="row">
					<div class="col-sm-6 col-md-2">
						<div id="meta-3" class="widget widgetFooter widget_meta">
							<h4 class="widgettitle">Importent Page :</h4>
							<ul>
								<li><a href="#"><i class="fa fa-home fa-fw"></i> Home</a></li>
								<li><a href="#"><i class="fa fa-link"></i> Privacy Policy</a></li>
								<li><a href="#"><i class="fa fa-envelope fa-fw"></i> Contact Us</a></li>
							</ul>
						</div>
					</div>
					<!-- end widget1 -->
					<div class="col-sm-6 col-md-2">
						<div id="recent-posts-3" class="widget widgetFooter widget_recent_entries">
							<h4 class="widgettitle">Our social media :</h4>
							<ul>
								<li>
									<a href="#" target="_blank"><i class="fa fa-facebook"></i> Facebook</a>
								</li>
								<li>
									<a href="#" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
								</li>
								<li>
									<a href="#" target="_blank"><i class="fa fa-youtube"></i> Youtube</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- end widget1 -->
					<div class="col-sm-6 col-md-4">
						<div id="meta-4" class="widget widgetFooter widget_meta">
							<form name="" action="" method="" role="form" data-toggle="validator">
								<h4 class="widgettitle">Subscribe :</h4>
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon">E-mail :</span>
										<input class="form-control" placeholder="Write your email .." type="text" required>
									</div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon">Phone  :</span>
										<input class="form-control" placeholder="+96777000000" type="text" required>
										<span class="input-group-btn">
											<button class="btn btn-primary" type="submit">Subscribe !</button>
										</span>
									</div>
								</div>
							</form>
						</div>
					</div>
					<!-- end widget1 -->
					<div class="col-sm-6 col-md-4">
						<div id="search-3" class="widget widgetFooter widget_search">
							<form name="" action="" method="" role="form" data-toggle="validator">
								<h4 class="widgettitle">Search:</h4>
								<div class="form-group">
									<label class="control-label">Write what you want to search for it  :</label>
									<div class="input-group">
										<span class="input-group-addon">Keyword :</span>
										<input class="form-control" placeholder="Keyword for search ..." type="text" required>
										<span class="input-group-btn">
									<button class="btn btn-primary" type="submit">Search !</button>
								  </span>
									</div>
								</div>
							</form>
						</div>
					</div>
					<!-- end widget1 -->
				</div>
				<!-- end .row -->
			</div>
			<!-- end #footer-wrapper -->
		</div>
		<!-- end .container -->
	</div>
	<!-- end #footer-widgets -->
	<div id="sub-floor">
		<div class="container">
			<div class="row">
				<div class="col-md-4 copyright">
					Copyright  © 2016
				</div>
				<div class="col-md-4 col-md-offset-4 attribution">
					Foo <a target="_blank" href="#">bar</a> .
				</div>
			</div>
			<!-- end .row -->
		</div>
	</div>
</footer>