    <div class="row" id="header">
        <div class="col-md-1">
            <p><img src="assets/img/logo-50x55.png" class="img-responsive" style="padding-left: 20px;"></p>
        </div>
        <div class="col-md-9">
            <h1>Instituto de Ciencias del Mar y Limnología</h1>
        </div>
        <div class="col-md-1 pull-right">
            <p><img src="assets/img/logo-50x55.png" class="img-responsive" style="padding-right: 20px;"></p>
        </div>
    </div>