<div class="row wrapper_square_intro_hover">
    <div class="col-md-12">
        <h3 class="text-center">Contribuimos al conocimiento</h3>
        <p class="text-center">Descubre cómo potenciamos el aprovechamiento de los ecosistemas acuáticos en México</p>
    </div>
    <div class="col-md-4">
        <div class="square_intro_hover">
            <p>
                <img src="/media/images/articles/lorempixel-abstract1.jpg" class="img-responsive" alt="Foo">
            </p>
            <div class="caption">
                <div class="blur"></div>
                <div class="caption-text">
                    <h4>Áreas de investigación</h4>
                    <p>Loren ipsum dolor si amet ipsum dolor si amet ipsum dolor...</p>
                    <a class=" btn btn-default" href="#"><i class="fa fa-plus" aria-hidden="true"></i>INFO</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="square_intro_hover">
            <p>
                <img src="/media/images/articles/lorempixel-abstract2.jpg" class="img-responsive" alt="Foo">
            </p>
            <div class="caption">
                <div class="blur"></div>
                <div class="caption-text">
                    <h4>Servicios</h4>
                    <p>Loren ipsum dolor si amet ipsum dolor si amet ipsum dolor...</p>
                    <a class=" btn btn-default" href="#"><i class="fa fa-plus" aria-hidden="true"></i>INFO</a>
                    </div>
                </div>
            </div>
    </div>
    <div class="col-md-4">
        <div class="square_intro_hover">
            <p>
                <img src="/media/images/articles/lorempixel-abstract3.jpg" class="img-responsive" alt="Foo">
            </p>
            <div class="caption">
                <div class="blur"></div>
                <div class="caption-text">
                    <h4>Sedes</h4>
                    <p>Loren ipsum dolor si amet ipsum dolor si amet ipsum dolor...</p>
                    <a class=" btn btn-default" href="#"><i class="fa fa-plus" aria-hidden="true"></i>INFO</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">&nbsp;</div>
</div>