<nav class="navbar yamm navbar-default" role="navigation">
	<div class="navbar-header">
		<button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
		<a href="/" class="navbar-brand">{{data.brand}}</a>
	</div>
	<div id="navbar-collapse-1" class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
			{{#each data.items}} {{#if sub.length}}
			<li class="dropdown {{#if_eq type " yamm "}}yamm-fw{{/if_eq}}">
				<a href="{{href}}" class="dropdown-toggle" data-toggle="dropdown" id="item-{{@key}}" title="{{title}}">{{title}}<span class="caret"></span></a>
				<ul class="dropdown-menu">
					{{#if_eq type "simple"}} {{#each sub}}
					<li><a tabindex="-1" href="{{href}}" id="item-{{@../index}}-{{@key}}" title="{{title}}">{{title}}</a></li>
					{{/each}} {{else}}
					<li>
						<div class="yamm-content">
							<div class="row">
								{{#each sub}}
								<div class="col-md-{{{division 12 ../sub.length}}}">
									{{#if content}}
									<p>{{{content}}}</p>
									{{/if}} {{#if title}}
									<h5><a href="{{href}}" id="item-{{@key}}">{{title}}</a></h5>
									{{/if}} {{#if sub.length}}
									<ul>
										{{#each sub}}
										<li><a href="{{href}}" title="{{title}}">{{title}}</a></li>
										{{/each}}
									</ul>
									{{/if}}
								</div>
								{{/each}}
							</div>
						</div>
					</li>
					{{/if_eq}}
				</ul>
			</li>
			{{else}}
			<li><a href="{{href}}" id="item-{{@key}}">{{title}}</a></li>
			{{/if}} {{/each}}
		</ul>
	</div>
</nav>