        <nav id="sitemap">
            <ul>
                <li><a href="#" class="Selected" title="Inicio">Inicio</a></li>
                <li><a href="#" title="Quiénes somos">Quiénes somos</a>
                    <ul>
                        <li><a href="#" title="El instituto">El instituto</a></li>
                    </ul>
                </li>
                <li><a href="#" title="Nuestra gente">Nuestra gente</a>
                    <ul>
                        <li><a href="#" title="Personal académico">Personal académico</a>
                            <ul>
                                <li><a href="#" title="Investigador 1">Investigador 1</a></li>
                                <li><a href="#" title="Investigador 2">Investigador 2</a></li>
                                <li><a href="#" title="Investigador 3">Investigador 3</a></li>
                                <li><a href="#" title="Investigador 4">Investigador 4</a></li>
                                <li><a href="#" title="Investigador 5">Investigador 5</a></li>
                            </ul>
                        </li>
                        <li><a href="#" title="Directorio">Directorio</a></li>
                    </ul>
                </li>
                <li><a href="#" title="Contacto">Contacto</a></li>
                <li><a href="#" title="Sedes">Sedes</a></li>
                <li><a href="#" title="Servicios">Servicios</a></li>
                <li><a href="#" title="Eventos">Eventos</a></li>
                <li><a href="#" title="Oferta Académica">Oferta Académica</a></li>
                <li><a href="#" title="Noticias">Noticias</a></li>
                <li class="Divider">Divider</li>
                <li><a href="#" title="Intranet">Intranet</a></li>
                <li><a href="#" title="Correo Web">Correo Web</a></li>
            </ul>
        </nav>