<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{htmlWebpackPlugin.options.data.metatags.0.title}}</title>

    <link rel="stylesheet" href="assets/vendor/css/jquery.mmenu.all.css">
    <link rel="stylesheet" href="assets/vendor/css/yamm.css">
    <link rel="stylesheet" href="assets/vendor/css/font-awesome.min.css">
	
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container" id="my-wrapper">
        {{> ../../partials/sitemap }}
        {{> ../../partials/first-bar }}
        {{> ../../partials/header }}
        {{> ../../partials/navbar data=htmlWebpackPlugin.options.data.navbar }}
        {{> ../../partials/carousel-3 }}
        {{> ../../partials/image-hover }}
        {{> ../../partials/banner-12 }}
        {{> ../../partials/article-8-sidebar-4 }}
    </div>
	{{> ../../partials/footer data=htmlWebpackPlugin.options.data.footer }}

    <!-- Foo -->
	
	<script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>

    <script src="assets/vendor/js/jquery.mmenu.all.min.js"></script>
</body>
</html>